@font-face {
  font-family: cooper black;
  font-style: normal;
  font-weight: 400;
  src: local("Cooper Black"),
    url(https://fonts.cdnfonts.com/s/14988/COOPBL.woff) format("woff");
}

@font-face {
  font-family: oldnewspapertypes;
  font-style: normal;
  font-weight: 500;
  src: local("OldNewspaperTypes"),
    url(https://fonts.cdnfonts.com/s/15198/OldNewspaperTypes.woff)
      format("woff");
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.MainPage {
  background-image: url(./Images/Main/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.CanvasPage {
  background-image: url(./Images/Canvas/website\ Canvas\ Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.barup,
.bardown {
  background-color: rgba(91, 118, 96, 0.5);
  padding: 20px 0;
  margin: 0;
  height: 100px;
}

.bardown {
  position: fixed;
  bottom: 0;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.logo {
  position: fixed;
  top: 30px;
  left: 10px;
}
.container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  right: 250px;
}
.menu {
  display: flex;
  padding: 30px 100px;
  align-items: center;
}
.menu a {
  text-decoration: none;
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;
  font-family: "Cooper Black", sans-serif;
  color: #fff0db;
}
.logo {
  margin-left: 10px;
}
.inv {
  margin-right: 10px;
}
.Sticker {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.SecondaryFont {
  font-family: "OldNewspaperTypes", sans-serif;
  font-size: 40px;
  position: absolute;
  left: auto;
  right: auto;
  top: 50px;
}
.textmain {
  margin-top: 200px;
  margin-left: 200px;
  color: #fff0db;
}
.menu {
  text-decoration: none;
  border: none;
}
footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts a {
  margin-right: 50px;
}
.HowTo {
  position: absolute;
  bottom: 50px;
  right: 300px;
}
.HowTo a {
  text-decoration: none;
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;
  font-family: "Cooper Black", sans-serif;
  color: #fff0db;
}
